doctype
html
	head
		title Node Hacker News
		
		block styles
			link(rel='stylesheet', href='/css/bootstrap.min.css')
			link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
			link(rel='stylesheet', href='/css/main.css')
				
	body
		include includes/header
		
		block content
				
		block scripts
			script(src='/js/jquery-2.1.4.min.js')
			script(src='/js/bootstrap.min.js')
			script(src='/js/main.js')
